<!DOCTYPE html>
<html>
<head>
<style>

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: #28334a;
}

.body {
    background-color: #078282;
}

.img {
    float: left;
    width: 15%;
    height: 15%;
}

</style>
</head>
<body class="body">



<img src="{{url_for('static', filename='nadrus.png')}}" class="img">
<div class="center">
    <p>COMING SOON</p>
</div>

</body>
</html>
